.container {
  display: flex;
}

.footer {
  width: 100%;
  background-color: bisque;
  position: fixed;
  bottom: 0;
  float: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  width: 50%;
  height: 50%;
}
h1 {
  text-align: center;
}

#result,#explanation {
   font-size: 13px;
}